<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title style="text-align: center;">
      <button routerLink="/usuario"><ion-icon name="arrow-back" class="iconoNavegacion"></ion-icon></button>
      Mesa {{NumeroMesa}} 
      <ion-icon style="margin-left: 20px;" name="create"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  
  <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;margin-top: 80%;">
    <ion-button color="light">&nbsp;<ion-icon name="add-circle"></ion-icon>&nbsp;&nbsp;Agregar Producto &nbsp;&nbsp;</ion-button>
    <ion-button color="light"><ion-icon name="eye" color="dark"></ion-icon>&nbsp;&nbsp;Ver Pedido &nbsp;&nbsp;</ion-button>
  </div>


</ion-content>
