<ion-header [translucent]="true">
  <ion-toolbar> 
    <ion-title style="text-align: center;">
      <button routerLink="/inicio"><ion-icon name="arrow-back" class="iconoNavegacion"></ion-icon></button>
      Empleado 
      <ion-icon style="margin-left: 20px;" name="beer"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">usuario</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
