<div class="cajaSeccion">
    <h3>Entrantes</h3>
    <button style="background: none;"><ion-icon name="add-circle" size="large"></ion-icon></button>
</div>
<div style="text-align: center;">
    <textarea placeholder="Nombre" cols="22" rows="4"></textarea><br>
    <input type="number" placeholder="Precio"><br><br>
    <ion-button color="success">Añadir</ion-button>
</div>

<ion-item-divider></ion-item-divider>


<div class="cajaSeccion">
    <h3>Platos</h3>
    <button style="background: none;"><ion-icon name="add-circle" size="large"></ion-icon></button>
</div>
<div style="text-align: center;">
    <textarea placeholder="Nombre" cols="22" rows="4"></textarea><br>
    <input type="number" placeholder="Precio"><br><br>
    <ion-button color="success">Añadir</ion-button>
</div>

<ion-item-divider></ion-item-divider>


<div class="cajaSeccion">
    <h3>Postres</h3>
    <button style="background: none;"><ion-icon name="add-circle" size="large"></ion-icon></button>
</div>
<div style="text-align: center;">
    <textarea placeholder="Nombre" cols="22" rows="4"></textarea><br>
    <input type="number" placeholder="Precio"><br><br>
    <ion-button color="success">Añadir</ion-button>
</div>

<ion-item-divider></ion-item-divider>


<div class="cajaSeccion">
    <h3>Entrantes</h3>
    <button style="background: none;"><ion-icon name="add-circle" size="large"></ion-icon></button>
</div>
<div style="text-align: center;">
    <textarea placeholder="Nombre" cols="22" rows="4"></textarea><br>
    <input type="number" placeholder="Precio"><br><br>
    <ion-button color="success">Añadir</ion-button>
</div>

<ion-item-divider></ion-item-divider>

